<!-- views/index.ejs -->
<%- include('layout/head'); %>
<title>首頁</title>
<%- include('layout/header'); %>
<main>
    <div class="jumbotron text-center">
        
        <p>今日課程為：<span><%= courses %></span></p>
        <p>簽到數字：<span id="number"><%= number %></span></p>
        <input type="hidden" name="id" value="<%= id %>">
        <%if(courses == '無課程'){ %>
            <input type="botton" disabled="disabled" name="number" class="btn btn-dark text-white" value="產生簽到密碼">
        <%}else{%>
            <a type="botton" name="number" class="btn btn-dark text-white" onclick="clickBtn()">產生簽到密碼</a> 
        <% }%>
        
    </div>
</main>  

<script>
    function clickBtn(){
        let number = Math.floor(Math.random()*10000)
        document.getElementById('number').innerHTML = number

        let xhttp = new XMLHttpRequest()
        xhttp.open('GET', '/get_number?number=' + number)
        xhttp.send()
        }
        
</script>
<%- include('layout/footer'); %>
