<!DOCTYPE html>
<%- include('layout/head'); %>

<body class="container">
    
    <%- include('layout/header'); %>
    
    <main>
        <h1 class="text-center">學員簽到記錄</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr >
                    <th scope="row">_id</th>
                    <th scope="row">姓名</th>
                    <th scope="row">簽到次數</th>
                    <th scope="row">詳情</th>

                </tr>
                <% student_info.forEach(function( student ){ %>
                    <tr>
                        <th><%= student._id %> </th>
                        <th><%= student.name %></th>
                        <th><%= student.times %></th>
                        <th><%= student.course %> </th>
                        
                    </tr>
                <% }); %>
            </thead>
        </table>
    </main>
    
    <%- include('layout/footer'); %>
   
</body>
</html>