<!DOCTYPE html>
<%- include('layout/head'); %>

<body class="container">
    
    <%- include('layout/header'); %>
    
    <main>
        <h1>學員簽到記錄</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr >
                    <th>姓名</th>
                    <th>簽到次數</th>
                    <th>詳情</th>

                </tr>
                <% for (let j=0; j<info.length; j++) {%>
                    <tr>
                        <th scope="col"><%= info[j].name %> </th>
                        <th scope="col"><%= info[j].times %> </th>
                        <th scope="col"><a><%= info[j].times %> </a></th>
                    </tr>
                <% } %>
            </thead>
        </table>
    </main>
    
    <%- include('layout/footer'); %>
   
</body>
</html>