
<%- include('layout/head'); %>
<title>更新資料</title>
<%- include('layout/header'); %>
<div class="bs-docs-header" id="content">
    <div class="container text-center">
        <h1 class="m-4">修改課程資訊</h1>
    </div>
</div>
<div class="container ">
    <div class="row">
        <form action="/courses/update" method="post" class="form-horizontal m-auto" role="form">
            <div class="form-group">
                <label for="course" class="col-sm-9 control-label">課程名稱：</label>
                <div class="col-sm-12">
                    <input type="text" name="course" value="<%= course.course %>" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="course" class="col-sm-9 control-label">時間：</label>
                <div class="col-sm-12">
                    <input type="date" name="date" value="<%= course.time %>" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="course" class="col-md-9 control-label">講師：</label>
                <div class="col-md-12">
                    <input type="text" name="lecturer" value="<%= course.lecturer %>" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 m-auto">
                    <input type="hidden" name="id" value="<%= course.id %>">
                    <input type="submit" class="btn btn-dark m-1" value="提交">
                    <input type="reset" class="btn btn-secondary" value="重置">
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('layout/footer'); %>
